:root {
  --bg-color: #0c0e11;
  --text-color: #fff;
  --sidebar-bg: #17181c;
  --button-bg: #007bff;
  --button-text: #fff;
  --input-bg: #1c1e22;
  --input-text: #fff;
}

/* Light theme overrides */
.light-theme {
  --bg-color: #e7ebeb;
  --text-color: #222;
  --input-bg: #e7ebeb;
  --button-bg: #0056b3;
  --button-text: #fff;
  --sidebar-bg: #dcddde;
  --input-text: #222;
}
